#agendar {
    position: relative;
    margin-top: -6em;
}

#agendar > article{
    margin-top: 2em;
}

#agendar > header > span {
    color: #9F9F9F;
}

#agendar .ul-form {
    width: 50%;
}

#agendar .ul-form .label-cotizacion:not(.not-visible) + .input select {
    margin-top: 0;
} 

#agendar .horarios {
    margin-top: 1em;
}

#agendar .horarios > li {
    padding: 0.5em;
}

#agendar .horarios > li label {
    cursor: pointer;
    padding: 0.5em;
    color: #a1a1a1;
    transition: all 0.25s;
    background-color: var(--color7);
    border-radius: 1em;
    font-size: 1.25em;
}

#agendar .horarios input[type="radio"] {
    display: none;
}

#agendar .horarios input[type="radio"]:checked + label {
    background-color: var(--color4);
    color: white;
}

#agendar form > footer {
    margin-top: 2em;
}

#agendar .item-horarios span,
#agendar label {
    color: #a1a1a1;
}

#agendar label img {
    width: 2em;
    min-width: 2em;
    height: 2em;
    min-height: 2em;
}

#agendar  .background-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000050;
    z-index: 32;
}

#agendar .popup {
    background-color: var(--color2);
    border-radius: .5em;
    padding: 2em;
    margin: auto;
    z-index: 65;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}    

#agendar .popup > div {
    width: 100%;
}

#agendar .popup ul li,
#agendar .popup span {
    color: white;
}

#agendar .popup div label {
    cursor: pointer;
}

#agendar .popup .imagenes {
    height: 70%;
    position: relative;
}

#agendar .popup div label i {
    margin-left: auto;
}

#agendar #background-popup,
#agendar #background-popup:checked + .background-popup,
#agendar #background-popup:checked ~ .popup {
    display: none;
}

@media (min-width: 960px) {
    #agendar .popup div label i {
        width: 2em;
        min-width: 2em;
        height: 2em;
        min-height: 2em;
    }

    #agendar  .popup {
        width: 100%;
        height: 100vh;
    }  
}
