#agendar > article{
    margin-top: 4em;
}

#agendar .ul-form {
    width: 50%;
}

#agendar .ul-form input[type="date"] {
    margin-top: 0;
}

#agendar .ul-form .label-cotizacion:not(.not-visible) + .input select {
    margin-top: 0;
} 

#agendar .horarios {
    margin-top: 1em;
}

#agendar .horarios > li {
    padding: 0.5em;
}

#agendar .horarios > li label {
    cursor: pointer;
    padding: 0.5em;
    color: #a1a1a1;
    transition: all 0.25s;
    background-color: var(--color7);
    border-radius: 1em;
    font-size: 1.25em;
}

#agendar .horarios input[type="radio"] {
    display: none;
}

#agendar .horarios input[type="radio"]:checked + label {
    background-color: var(--color4);
    color: white;
}

#agendar form > footer {
    margin-top: 2em;
}