/* CONTACTO ---------------------------------------------------------------- */

/* #contacto i {
    background-color: var(--color4);
} */

#contacto svg {
    fill: var(--color4);
    width: 2em;
    height: 2em;
}

/* #contacto i.argentina,
#contacto i.mexico {
    background-color: transparent;
} */

#contacto > header {
    max-width: 40em;
}

#contacto > header p {
    color: #9F9F9F;
    font-weight: 400;
}

#contacto > article {
    width: 100%;
    margin-top: 4em;
}

#contacto > article > div {
    width: 40%;
}

#contacto .item + .item {
    margin-top: 2em;
}

#contacto .item > div {
    margin-left: 1em;
    max-width: 80%;
}

#contacto .item > div > header em {
    font-size: 1.5em;
    font-weight: 600;
}

#contacto .item > div > ul a {
    font-size: 2em;
}

#contacto .item > div > ul > li > a > i {
    background-color: var(--color5);
}

#contacto .ul-form > li:first-child .input, 
#contacto .ul-form > li:first-child .input input {
    margin-top: 0;
}

#contacto .ul-form > li:first-child .input label {
    top: 0.25em;
}

#contacto .ul-form > li:last-child > div + div {
    margin-top: 1em;
}

#contacto .ul-form > li + li {
    margin-top: 2.25em;
}
