/* CONTACTO ---------------------------------------------------------------- */
#contacto {
    margin-top: 8em;
}

#contacto i {
    background-color: var(--color4);
}

#contacto i.argentina,
#contacto i.mexico {
    background-color: transparent;
}

#contacto > header {
    max-width: 40em;
}

#contacto > header p {
    color: #9F9F9F;
    font-weight: 400;
}

#contacto > article {
    width: 100%;
    margin-top: 4em;
}

#contacto > article > div {
    width: 40%;
}

#contacto .item + .item {
    margin-top: 2em;
}

#contacto .item > div {
    margin-left: 1em;
    max-width: 80%;
}

#contacto .item > div > header em {
    font-size: 1.5em;
    font-weight: 600;
}

#contacto .item > div > ul a {
    font-size: 2em;
}

#contacto .item > div > ul > li > a > i {
    background-color: var(--color5);
}

#contacto .ul-form > li:first-child .input, 
#contacto .ul-form > li:first-child .input input {
    margin-top: 0;
}

#contacto .ul-form > li:first-child .input label {
    top: 0.25em;
}

#contacto .ul-form > li:last-child > div + div {
    margin-top: 1em;
}

#contacto .ul-form > li + li {
    margin-top: 2.25em;
}

#contacto .phone {
    position: relative;

    animation: bounce 1s; 
    animation-direction: alternate; 
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5); 
    animation-iteration-count: infinite; 
}

#contacto .phone > img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    height: 30em;
}

#contacto .phone > ul {
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
}

#contacto .phone > ul > li {
    min-width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

#contacto .bg-gradient {
    height: 30em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contacto .bg-gradient.instagram {
    background: #833ab4;
    background: linear-gradient(
      to right,
      #833ab4,#fd1d1d,#fcb045
    );
}

#contacto .bg-gradient.facebook {
    background: #00c6ff;
    background: linear-gradient(
      to right,
      #00c6ff,#0072ff
    );
}

#contacto .bg-gradient.linkedin {
    background: #0A66C2;
    background: linear-gradient(
        to right,
        #0A66C2, #044d95
    );
}

#contacto .bg-gradient.mail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 0.9em;
    transform: skewY(10deg);
    gap: 3em;
}

#contacto .bg-gradient.mail > div > ul > li {
    font-size: 0.8em;
}

#contacto .bg-gradient.mail i.icon {
    transform: none;
    margin-left: unset;
}

#contacto .bg-gradient.mail i.argentina,
#contacto .bg-gradient.mail i.mexico {
    font-size: 1.25em;
}

#contacto .bg-gradient.mail > div {
    margin-left: 2em;
}

#contacto .bg-gradient.mail .correo {
    font-size: 0.7em;
}

#contacto .bg-gradient i.icon {
    font-size: 3em;
    margin-left: 0.5em;
    transform: skewY(10deg);
    background: white;
}

#contacto .bg-gradient a {
    z-index: 16;
    position: relative;
}

/* ANIMATION ----------------------------------------------------------------- */

@keyframes bounce { 
    from { 
        transform: translate3d(0, 0, 0); 
    } 
    to { 
        transform: translate3d(0, 3em, 0); 
    } 
} 