::-webkit-scrollbar-track{
	background-color: var(--color6);
}

::-webkit-scrollbar{
	width: 0.25em;
	background-color: var(--color6);
}

::-webkit-scrollbar-thumb{
	border-radius: 0.5em;
	background-color: var(--color5);
}

/* NAVBAR ------------------------------------------- */

#navbar .navbar-responsive {
    display: none;
}

/* FOOTER ---------------------------------------------------------------------- */

