::-webkit-scrollbar-track{
	background-color: var(--color6);
}

::-webkit-scrollbar{
	width: 0.25em;
	background-color: var(--color6);
}

::-webkit-scrollbar-thumb{
	border-radius: 0.5em;
	background-color: var(--color5);
}

/* NAVBAR ----------------------------------------------------------------------- */

#navbar .navbar-responsive {
    display: none;
}

/* INDEX ------------------------------------------------------------------- */

.tab-content-wrapper {
	flex: 1;
}

/* CONTACTO ------------------------------------------------------------------- */

#contacto > article > form {
    flex: 1;
    margin: 0 2em;
}

/* FOOTER ---------------------------------------------------------------------- */

#footer > header > div {
    margin-inline: 5em;
}