#faq > header {
    position: relative;
    height: 100vh;
    margin: 0 2em;
}

#faq > header span{
    color: #9f9f9f;
}

#faq > article {
    position: relative;
}

#faq .item {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 80vh;
    gap: 1em;
    background-color: var(--color1);
}

#faq .item:nth-child(2n) {
    flex-direction: row-reverse;
    justify-content: end;
    background-color: var(--color2);
}

#faq .item:nth-child(3n) {
    background-color: var(--color3);
}

#faq .item .image {
    width: 40%;
}

#faq .item .text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#faq .item .text em {
    font-size: 2em;
    font-weight: 600;
    color: var(--color5);
}
