#faq > header {
    position: relative;
}

#faq > header span{
    color: #9f9f9f;
}

#faq > article {
    position: relative;
    margin-top: 6em;
}

#faq > article > ul {
    max-width: 38em;
}

#faq details {
    background-color: var(--color7);
    border: 1px solid var(--color5);
    margin-block: 1em;
    border-radius: 1em;
    cursor: pointer;
}

#faq details > summary {
    font-size: 1.25em;
    padding: 1em;
    margin-left: .5em;
    list-style: none;
}
    
#faq details > summary i {
    transition: all 0.5s;
    background-color: white;
}

#faq details[open] > summary i {
    transform: rotate(90deg);
}

#faq details > p {
    padding: 1em;
    background-color: var(--color6);
    border-radius: 0 0 1em 1em;
}