#sobre-nosotros,
#servicios,
#reviews,
#cotiza {
    margin-top: 10em;
}

h4 {
    font-size: 2.75em;
    color: var(--color5);
}

#inicio {
    position: relative;
}

#inicio figure {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: gray;
}

#inicio figcaption {
    position: absolute;
    inset: 0;
}

#inicio .home-text {
    margin-right: 3em;
    margin-top: 5em;
}

#inicio .home-text > span {
    font-weight: 600;
    letter-spacing: .1em;
}

#inicio .home-text > div > p {
    font-weight: 500;
}

#inicio .home-text > footer {
    margin-top: 2.75em;
}

#inicio .home-text > footer > button {
    border: none;
    padding: 1.5em 4.5em;
    cursor: pointer;
    border-radius: 0.5em;
}

#inicio .home-text > footer > button:hover {
    opacity: .7;
}

#inicio .home-text > footer > button > a {
    text-transform: uppercase;
    font-weight: 700;
}


/* SOBRE-NOSTROS */

#sobre-nosotros aside {
    width: 40%;
}

#sobre-nosotros article {
    flex: 1;
}

#sobre-nosotros article > span {
    letter-spacing: .2em;
}

#sobre-nosotros article > div,
#sobre-nosotros article > div > div {
    margin-top: 1em;
}

/* SERVICIOS --------------------------------------------------------------------------*/

.tabs-container {
    width: 100%;
    display: flex;
    margin: 0.625em;
    overflow: hidden;
    border-radius: 1em;
    background-color: var(--color7);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.tab-content-wrapper {
    overflow: hidden;
    height: 34em;
    min-width: 300px;
    color: white;
    transition: all 0.45s ease-in-out;
    padding: 0.75em 1.5em;
}

.tab-content{
    display: block;
    font-size: 1em;
    padding: 1.25em 0.5em;
    width: 400px;
    height: 540px;
    transition: all 0.45s ease-in-out;
}

.tabs {
    position: relative;
    display: flex;
    flex-direction: column;

    max-height: 34em;
    overflow-y: auto;
    overflow-x: hidden;
}

.tabs a {
    position: relative;
    display: flex;
    width: 100%;
    font-size: 1.125em;
    font-weight: 600;
    overflow: hidden;
    color: white;
    text-align: left;
    justify-content: start;
    height: 90px;
    padding: 0px 1.25em;
    width: 350px;
    align-items: center;
    gap: 1em;
}

.tabs .active,
.tabs a:hover {
    font-weight: 700;
    outline: none;
    color: var(--color5);
    border-left: 4px solid var(--color5);
}


/* REVIEWS ----------------------------------------------------------------------------*/

#reviews > ul {
    width: 100%;
    margin-top: 2em;
}

#reviews > ul > li {
    width: 20em;
    min-width: 20em;
    min-height: 14em;
    height: 14em;
    border: 1px solid black;
    padding: 1em;
    background-color: #494949;
    border-radius: .5em;
}

#reviews .customer > img {
    width: 4em;
    height: 4em;
    border: 1px solid black;
    border-radius: 50%;
}

#reviews .customer > div {
    margin: 1em 0 1em 1em;
}

#reviews .customer > div em {
    font-weight: 700;
}

#reviews .customer > div div {
    margin-top: .5em;
}

#reviews .customer > div span {
    margin-top: .25em;
    font-size: .9em;
}

#reviews > ul > li div > i {
    margin: 0 .125em;
}

#reviews > ul > li > aside {
    margin-top: 1em;
}

/* cotiza -------------------------------------------------------------------------------*/

#cotiza > div {
    width: 100%;
    margin-top: 2em;
    gap: 4em;
}

#cotiza > div > article {
    flex: 1;
}

#cotiza > div > article > form {
    max-width: 40em;
}

#cotiza > div > aside {
    width: 35%;
}

#cotiza .ul-form > li > ul {
    margin-top: 1em;
}

#cotiza .ul-form > li > ul > li {
    padding: 0.5em;
}

#cotiza .ul-form > li > ul > li label {
    cursor: pointer;
    padding: 0.5em;
    transition: all 0.25s;
    background-color: var(--color7);
    color: #a1a1a1;
    border-radius: 1em;
    font-size: 1.25em;
}

#cotiza .ul-form > li > ul input[type="radio"] {
    display: none;
}

#cotiza .ul-form > li > ul input[type="radio"]:checked + label {
    background-color: var(--color4);
    color: white;
}
