
.banner-btn {
    display: flex;
}

#sobre-nosotros,
#metricas,
#reviews,
#cotiza {
    margin-top: 8em;
}


#proyectos,
#servicios {
    margin-top: 4em;
}

h4 {
    font-size: 2.75em;
    color: var(--color5);
}

#inicio {
    position: relative;
}

#inicio figure {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: gray;
}

#inicio figcaption {
    position: absolute;
    inset: 0;
}

#inicio .home-text {
    margin-right: 3em;
    margin-top: 5em;
}

#inicio .home-text > span {
    font-weight: 600;
    letter-spacing: .1em;
}

#inicio .home-text > div > p {
    font-weight: 500;
}

#inicio .home-text > footer {
    margin-top: 2.75em;
}

#inicio .home-text > footer > button {
    border: none;
    padding: 1.5em 4.5em;
    cursor: pointer;
    border-radius: 0.5em;
}

#inicio .home-text > footer > button:hover {
    opacity: .7;
}

#inicio .home-text > footer > button > a {
    text-transform: uppercase;
    font-weight: 700;
}

/* SOBRE-NOSTROS */

#sobre-nosotros article {
    flex: 1;
}

#sobre-nosotros article > span {
    letter-spacing: .2em;
}

#sobre-nosotros article > div,
#sobre-nosotros article > div > div {
    margin-top: 1em;
}

#sobre-nosotros > article > div > div svg {
    width: 2.5em;
    height: 2.5em;
}

/* SERVICIOS --------------------------------------------------------------------------*/

#proyectos {
    position: relative;
}

/* SERVICIOS --------------------------------------------------------------------------*/

.tabs-container {
    width: 100%;
    display: flex;
    margin: 1em .625em 0 .625em;
    overflow: hidden;
    border-radius: 1em;
    background-color: var(--color7);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.tab-content-wrapper {
    overflow: hidden;
    height: 24em;
    color: white;
    transition: all 0.45s ease-in-out;
}

.tab-content{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 384px;
    transition: all 0.45s ease-in-out;
    padding: 1em;
}

.tabs {
    position: relative;
    display: flex;
    flex-direction: column;

    max-height: 24em;
    min-width: 22em;
    overflow-y: auto;
    overflow-x: hidden;
}

.tabs a {
    position: relative;
    display: flex;
    width: 100%;
    font-size: 1.125em;
    font-weight: 600;
    overflow: hidden;
    color: white;
    justify-content: start;
    height: 90px;
    padding: 0px 1.25em;
    align-items: center;
    gap: 1em;
}

.tabs .active,
.tabs a:hover {
    font-weight: 700;
    outline: none;
    color: var(--color5);
    border-left: 4px solid var(--color5);
}

#servicios .tab-content-wrapper em {
    font-weight: 600;
    color: var(--color5);
    font-size: 1.5em;
}

#servicios .tab-content-wrapper p {
    margin-top: 1em;
    text-align: center;
}

#servicios .tab-content-wrapper div {
    margin-top: 2em;
}

#servicios .tab-content-wrapper img {
    width: 8em;
    min-width: 8em;
    height: 8em;
    min-height: 8em;
}

#servicios .tab-content-wrapper .tab-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* METRICAS ----------------------------------------------------------------------------*/

#metricas > ul {
    width: 100%;
    margin-top: 2em;
    overflow-y: auto;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}

#metricas > ul > li {
    width: 16em;
    min-width: 16em;
    min-height: 30em;
    height: 30em;
    background-color: #494949;
    border-radius: .5em;
    scroll-snap-align: center;
    position: relative;
}

#metricas > ul > li img {
    border-radius: .5em;
    position: relative;
    z-index: 2;
}

/* REVIEWS ----------------------------------------------------------------------------*/

#reviews {
    margin-top: 2em;
}

#reviews > header > aside {
    height: 20em;
}

#reviews > ul {
    width: 100%;
    margin-top: 2em;
    overflow-y: auto;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}

#reviews > ul > li {
    width: 23em;
    min-width: 23em;
    min-height: 14em;
    height: 14em;
    padding: 1em;
    background-color: #494949;
    border-radius: .5em;
    scroll-snap-align: center;
}

#reviews .customer > img {
    width: 5em;
    height: 5em;
    border: 1px solid black;
    border-radius: 50%;
}

#reviews .customer > div {
    margin: 1em 0 1em 1em;
}

#reviews .customer > div em {
    font-weight: 700;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    overflow-wrap: anywhere;
    line-height: 1em;
}

#reviews .customer > div div {
    margin-top: .5em;
}

#reviews .customer > div span {
    margin-top: .25em;
    font-size: .9em;
}

#reviews > ul > li div > i {
    margin: 0 .125em;
    background-color: yellow;
}

#reviews > ul > li > aside {
    margin-top: 1em;
}

#reviews > footer {
    margin-top: 2em;
}

/* cotiza -------------------------------------------------------------------------------*/

#cotiza > div {
    width: 100%;
    margin-top: 2em;
    gap: 4em;
}

#cotiza > div > aside {
    flex: 1;
    height: 40em;
}

#cotiza > div > article > form {
    max-width: 40em;
}

#cotiza > div > article {
    width: 50%;
}

#cotiza .ul-form > li > ul {
    margin-top: 1em;
}

#cotiza .ul-form > li > ul > li {
    padding: 0.5em;
}

#cotiza .ul-form > li > ul > li label {
    cursor: pointer;
    padding: 0.5em;
    transition: all 0.25s;
    background-color: var(--color7);
    color: #a1a1a1;
    border-radius: 1em;
    font-size: 1.25em;
}

#cotiza .ul-form > li > ul input[type="radio"] {
    display: none;
}

#cotiza .ul-form > li > ul input[type="radio"]:checked + label {
    background-color: var(--color4);
    color: white;
}

@media screen and (min-width: 960px) {
    #sobre-nosotros aside {
        width: 40%;
    }

    #servicios > header > span {
        display: none;
    }

    #proyectos {
        height: 80vh;
    }
}