h2 {
    font-size: 2.75em;
    color: var(--color5);
}

#sobre-nosotros.nosotros {
    margin-top: 0;
}

#valores, 
#equipo, 
#join {
    margin-top: 4em;
}

#equipo > h2, 
#join > em {
    margin-bottom: 1em;
}

#valores > ul > li {
    width: 80%;
}

#valores > ul > li + li {
    margin-top: 3em;
}

#valores > ul li.right {
    flex-direction: row-reverse;
    margin-left: auto;
}

#valores > ul li.right div em{
    margin-left: auto;
    text-align: end;
}

#valores > ul li.right div span {
    text-align: end;
}

#valores > ul li em {
    margin-bottom: .25em;
    font-weight: 700;
    font-size: 3em;
    color: var(--color5);
}

#valores > ul li em::after {
    content: '';
    width: 4.5em;
    height: .08em;
    background-color: var(--color5);
    display: block;
    margin-top: .125em;
}

#valores > ul li img {
    width: 14em;
    min-width: 14em;
    height: 14em;
    min-height: 14em;
}

#valores > ul > li li + li {
    margin-top: .125em;
}

#valores b {
    color: var(--color5);
}

#join .btn {
    margin-top: 2em;
}

#join .btn a {
    width: max-content;
    margin: auto;
}

#join em {
    color: var(--color5);
    font-size: 1.5em;
    font-weight: 600;
}

.nosotros > aside {
    flex: 1;
}

@media screen and (min-width: 960px) {
    .nosotros > article {
        width: 50%;
    }

    #valores > ul li div {
        margin-left: 1em;
    }

    #valores > ul li.right div {
        margin-right: 1em;
    }
}
