#portafolio {
    margin-top: 8em;
}

#portafolio .destacados {
    background-color: var(--color7);
    width: 100%;
    border-radius: 1em;
    padding: 1em;
    margin-top: 1em;
}

#portafolio .destacados em {
    color: var(--color5);
    font-size: 1.75em;
    font-weight: 600;
}

#portafolio .destacados ul {
    margin-top: 4em;
}

#portafolio .destacados ul li + li {
    margin-top: .5em;
}

#portafolio .destacados ul li:nth-child(2n) article{
    flex-direction: row-reverse;
}

#portafolio .destacados ul li a {
    width: 45%;
}

#portafolio .destacados ul li a img {
    border-radius: .25em;
}

#portafolio .destacados ul li > article > div {
    flex: 1;
    padding: 1em;
}

#portafolio .destacados ul li div span {
    margin-top: 1em;
    font-weight: 600;
}

.listado {
    margin: 2em 0 4em 0;
}

.listado ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.listado ul li {
    min-height: 22em;
    border-radius: .25em;
    text-align: center;
    position: relative;
    display: flex;
}

.listado ul li:nth-child(2n) {
    transform: translateY(75px);
}

.listado ul li a {
    overflow: hidden;
    flex: 1;
    aspect-ratio: auto;
}

.listado ul li img {
    border-radius: .25em;
}

.listado ul li p {
    font-size: .75em;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin-bottom: 1em;
    background-color: var(--color5);
    color: #000;
    font-weight: 700;
    padding: 1em 0;
}

.loader {
    width: 3em;
    height: 3em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
    border: .3125em solid #C4C0B5;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: loader 1s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}