#servicio {
    margin-top: 8em;
}

#servicio > aside {
    width: 80%;
}

#servicio > aside em {
    font-size: 2.5em;
    font-weight: 600;
    color: var(--color5);
}

#servicio > aside span {
    margin-top: 1em;
}

#servicio > article {
    margin-top: 4em;
}

#servicio > article strong {
    color: var(--color5);
    font-size: 1.5em;
}

#servicio .mockups {
    margin-top: 2em;
}

#servicio .tablet,
#servicio .phone {
    position: relative;
    height: 100%;
}

#servicio .phone > img,
#servicio .tablet > img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 4;
}

#servicio .phone ul,
#servicio .tablet ul {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

#servicio .phone > ul li img {
    transform: skewy(10deg);
}


@media screen and (min-width: 960px) {
    #servicio .tablet,
    #servicio .phone {
        width: 50%;
    }

    #servicio .mockups {
        height: 60vh;
    }
}

@media screen and (max-width: 959px) {
    #servicio > aside {
        width: 100%;
    }

    #servicio > article strong {
        font-size: 2em;
    }

    #servicio .mockups {
        flex-direction: column;
    }

    #servicio .tablet, 
    #servicio .phone {
        width: 100%;
    }

    #servicio .tablet {
        height: 60%;
    }

    #servicio .mockups {
        height: 100vh;
    }

    #servicio .phone ul,
    #servicio .tablet ul {
        width: 95%;
        height: 98%;
        margin: auto;
    }
}