.gradient-body {
    position: relative;
}

#servicio {
    margin-top: 8em;
    position: relative;
    z-index: 1;
}

#servicio > aside {
    width: 80%;
}

#servicio > aside em {
    font-size: 2.5em;
    font-weight: 600;
    color: var(--color5);
}

#servicio > aside span {
    margin-top: 1em;
}

.proyectosImg {
    margin-top: 4em;
    position: relative;
}

.proyectosImg strong {
    color: var(--color5);
    font-size: 1.5em;
}

.proyectosImg .mockups {
    margin: 2em 0;
    background-color: var(--color6);
    border-radius: 1em;
    padding: 2em 0;
    width: 95%;
}

.proyectosImg .tablet,
.proyectosImg .phone {
    position: relative;
    height: 100%;
}

.proyectosImg .phone .nav-arrows {
    display: none;
}

.proyectosImg .phone > img,
.proyectosImg .tablet > img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 4;
}

.proyectosImg .phone nav {
    display: none;
}

.proyectosImg .phone ul,
.proyectosImg .tablet ul {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.proyectosImg .phone > ul li img {
    transform: skewy(10deg);
}


@media screen and (min-width: 960px) {
    #servicio > aside {
        margin: auto;
    }

    .proyectosImg .phone {
        height: 26em;
        min-height: 26em;
        width: 20em;
        min-width: 20em;
    }

    .proyectosImg .tablet {
        width: 37em;
        min-width: 37em;
        height: 28em;
        min-height: 28em;
    }
}

@media screen and (max-width: 959px) {
    #servicio > aside {
        width: 100%;
    }

    .proyectosImg strong {
        font-size: 2em;
    }

    .proyectosImg .mockups {
        flex-direction: column;
    }

    .proyectosImg .phone {
        width: 100%;
        height: 40em;
        min-height: 40em;
    }
    
    .proyectosImg .tablet {
        height: 20em;
        min-height: 20em;
        width: 95%;
    }

    .proyectosImg .mockups {
        height: 100vh;
    }

    .proyectosImg .phone ul,
    .proyectosImg .tablet ul {
        width: 95%;
        height: 98%;
        margin: auto;
    }
}