:root {
    --color1: #56c6d8;
    --color2: #351031;
    --color3: #9539ea;
    --color4: #ae1332;
    --color5: #e43d3d;
    --color6: #262626;
    --color7: #313131;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body {
    color: white;
    background-color: var(--color6);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.elipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    overflow-wrap: anywhere;
    line-height: 1em;
}

em {
    font-style: normal;
}

img,
video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: start;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-end {
    justify-content: end;
}

.justify-start {
    justify-content: start;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.text-white {
    color: #fff;
}

.gap-1 {
    gap: 1em;
}

.gap-5 {
    gap: 0.5em;
}

.w-100 {
    width: 100%;
}

.wrapper {
    margin-inline: 5em;
    margin-block: 6em;
}

.not-visible {
    display: none;
}

.highlight {
    color: var(--color5)!important;
    font-weight: 600;
}

.empty-state {
    margin-top: 2em;
    width: 100%;
    border-radius: .5em;
    background-color: var(--color7);
    padding: 2em;
    text-align: center;
}

.empty-state span {
    font-weight: 600;
}

.mensaje-error {
    color: red;
    margin-top: 1em;
    font-size: 0.9em;
}

.mensaje-success {
    color: greenyellow;
}

.loader {
    width: 3em;
    height: 3em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    border: .3125em solid #C4C0B5;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: loader 1s linear infinite;
}

/* NAV ARROWS ------------------------------------------------------------ */

.nav-arrows {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 8;
}

.nav-arrows.disabled {
    display: none;
}

.nav-arrows a {
    border-radius: .2em;
    padding: 2em 0;
    visibility: visible;
    font-size: 2em;
    z-index: 8;
}

.nav-arrows a i {
    background-color: #fff;
}

/* INPUT STYLES ------------------------------------------------------------ */

.input {
    position: relative;
    width: 100%;
    margin-top: 3em;
}
  
.input input,
.input textarea,
.input select{
    color: #9F9F9F;
    border: 1px solid var(--color5);
    border-radius: .5em;
    padding: 1.5em 1.75em;
    outline: none;
    width: 100%;
    resize: none;
    background-color: var(--color7);
}

.input select {
    font-size: 1em;
    padding: 1.1em;
}

.input input[type="file"] {
    margin-top: 1em;
}
  
.input label {
    position: absolute;
    left: 1em;
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s;
    color: #a1a1a1;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    overflow-wrap: anywhere;
    height: 1em;
    margin: auto;
}

.input textarea::placeholder,
.input input::placeholder {
    font-size: 1.25em;
    color: #a1a1a1;
}
  
.input input:focus ~ label,
.input textarea:focus ~ label,
.input textarea.input-active ~ label,
.input input.input-active ~ label{
    color: #a1a1a1;
    transform: translateY(-3em);
    left: 0;
}

.input.cod-pais {
    width: 7em;
}

/* BUTTONS STYLES ---------------------------------------------------------- */

.btn > button,
.btn > a,
.btn > label {
    border: none;
    color: var(--color5);
    font-weight: 700;
    padding: 1em 2em;
    background-color: #000;
    cursor: pointer;
    border-radius: .5em;
    font-size: .9em;
    transition: all 0.5s;
}
.btn > button:hover,
.btn > a:hover,
.btn > label:hover {
    background-color: var(--color5);
    box-shadow: 0px 8px 37px -7px var(--color5);
    color: #fff;
    transform: translateY(-7px);
}

.btn > button:hover,
.btn > a:hover,
.btn > label:hover {
    transform: translateY(-1px);
}

/* INPUT STYLES ------------------------------------------------------------ */

.error-404 {
    height: 100vh;
}

.error-404 .error-msg strong {
    color: var(--color5);
    font-weight: 600;
    font-size: 4em;
}

.error-404 .error-msg span {
    font-weight: 600;
}

.error-404 .btn {
    margin-top: 2em;
}

/* NOTIFICATIONS ------------------------------------------------------------------ */

.notification_card {
    position: absolute;
    width: max-content;
    left: 2em;
    right: 0;
    bottom: 2em;
    margin-right: auto;
    border-radius: 0.5em;
    background-color: #313e2c;
    color: #aaec8a;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade-in 3s linear;
}

.notification_body {
    display: flex;
    align-items: center;
    padding: 1em 0.5em;
    gap: 0.5em;
    max-width: 40em;
}

.notification_progress {
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: calc(100% - 8px);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    background: linear-gradient(to right, #313e2c, #aaec8a);
    border-radius: inherit;
    animation: progress 2.5s 0.3s linear;
}

/* ANIMATIONS ------------------------------------------------------------------ */

.gradient {
    position: absolute;
    top: 0;
	width: 100%;
	background: linear-gradient(334deg, var(--color5), var(--color6), var(--color4));
	background-size: 180% 180%;
	animation: gradient-animation 6s ease infinite;
    mask-image: linear-gradient(
        #262626 80%,
        transparent
    );
}



/* KEYFRAMES ------------------------------------------------------------------------------- */

@keyframes rightanimation {
    from {
        transform: translateX(15em);
    }
    to {
        transform: translateX(0em);
    }
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes fade-in {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    95% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes progress {
    to {
        transform: scaleX(1);
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 960px) {
    .gradient {
        height: 100vh;
    }
}
