* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
ul,
label {
    margin: 0;
}
a {
    text-decoration: none!important;
}
span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    overflow-wrap: anywhere;
}
input[type="radio"] {
    display: none;
}
::-webkit-scrollbar-track{
	background-color: #313131;
}

::-webkit-scrollbar{
	width: 0.25em;
	background-color: #313131;
}

::-webkit-scrollbar-thumb{
	border-radius: 0.5em;
	background-color: #079992;
}

.menu {
    height: 100vh;
    overflow-y: auto;
    border-right: 1px solid #00000040;
    width: 25%;
}
#display-menu:checked ~ .menu {
    width: max-content!important;
}
.menu > header {
    background-color: #079992;
    padding: .5em 1em 1em 1em;
}
.menu > header > div {
    display: flex;
    align-items: center;
}
.menu > header > div .user {
    width: 100%;
}
.menu > header > div > a {
    display: flex;
    align-items: center;
    color: black;
}
.menu > header > div > a:hover,
.menu > header > div > button:hover {
    background-color: #0ac7bd;
}
.menu > header > div > a span {
    font-weight: 600;
    margin-left: .25em;
}
.menu > header > div > a div {
    width: 3em;
    min-width: 3em;
    height: 3em;
    min-height: 3em;
    border: 1px solid black;
    background-image: url('../images/user.png');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%; 
}
.menu > header > div > button svg {
    width: 1.5em;
    min-width: 1.5em;
    height: 1.5em;
    min-height: 1.5em;
    fill: black!important; 
}
.menu .display-menu {
    background-color: #079992;
    padding: .5em;
    display: block!important;
}
.menu > div > label {
    display: flex;
}
.menu > div > label > svg  {
    fill: white;
    width: 3em;
    min-width: 3em;
    height: 3em;
    min-height: 3em;
    cursor: pointer;
    margin-left: auto;
}
#display-menu,
#display-menu:checked ~ .menu > header,
#display-menu:checked ~ .menu > div {
    display: none;
}
.menu > div {
    padding: 1em;
}
.menu > div > ul {
    display: flex;
    flex-direction: column;
}
.menu .categoria {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 1em;
    background-color: #313131;
    color: white;
    border: 1px solid #00000030;
    border-radius: .25em;
    margin-block: .125em;
    font-weight: 600;
}
.menu .categoria + .categoria {
    margin-top: .5em;
}
.menu .categoria:hover {
    background-color: #424242;
}
.menu .categoria a {
    color: white;
}
.menu .categoria a span {
    font-size: 1.125em;
}