
#unete {
    margin-top: 9em;
}

#unete > header {
    width: 100%;
    position: relative;
}

#unete > header > div {
    width: 60%;
}

#unete > header > img {
    flex: 1;
}
    
#unete .beneficios {
    width: 100%;
    position: relative;
    margin-top: 2em;
}

#unete .beneficios strong {
    color: var(--color5);
    font-size: 1.5em;
}

#unete .beneficios ul li {
    padding: 1.5em;
    background-color: var(--color7);
    border-radius: 0.5em;
}

#unete .beneficios ul li i {
    background-color: var(--color5);
}

#unete .beneficios ul li span {
    margin-left: .5em;
    font-weight: 700;
}

#unete form {
    width: 100%;
    max-width: 40em;
}

#unete .ul-form > li > ul {
    margin-top: 1em;
}

#unete .ul-form > li > ul > li {
    padding: 0.5em;
}

#unete .ul-form > li > ul > li label {
    cursor: pointer;
    padding: 0.5em;
    transition: all 0.25s;
    background-color: var(--color7);
    color: #a1a1a1;
    border-radius: 1em;
    font-size: 1.25em;
}

#unete .ul-form > li > ul input[type="radio"] {
    display: none;
}

#unete .ul-form > li > ul input[type="radio"]:checked + label {
    background-color: var(--color4);
    color: white;
}

#unete .ul-form > li:last-child {
    margin-top: 2em;
}

#unete .puestos {
    margin-top: 2em;
}

/* ANIMATIONS ------------------------------------------------------------------ */

