::-webkit-scrollbar-track{
	background-color: #313131;
}

::-webkit-scrollbar{
	width: 0.25em;
	background-color: #313131;
}

::-webkit-scrollbar-thumb{
	border-radius: 0.5em;
	background-color: #079992;
}

/* MENU ---------------------------------------------------------------------- */

#container {
    flex: 1;
	background-size: 25em;
}

#display-menu:checked ~ .menu {
    width: max-content!important;
}

/* TABLA ---------------------------------------------------------------------- */

.fl-table td {
    max-width: 5em;
}

/* LOGIN ---------------------------------------------------------------------- */

.login > div > span {
	max-width: 25em;
}