.icon {
    width: 1.5em;
    height: 1.5em;
    display: block;
    background-color: black;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
}

.icon.info {
    mask-image: url("../icons/info.svg");
    -webkit-mask-image: url("../icons/info.svg");
}

.icon.ver {
    mask-image: url("../icons/ver.svg");
    -webkit-mask-image: url("../icons/ver.svg");
}

.icon.no-ver {
    mask-image: url("../icons/no-ver.svg");
    -webkit-mask-image: url("../icons/no-ver.svg");
}

.icon.editar {
    mask-image: url("../icons/editar.svg");
    -webkit-mask-image: url("../icons/editar.svg");
}

.icon.borrar {
    mask-image: url("../icons/borrar.svg");
    -webkit-mask-image: url("../icons/borrar.svg");
}

.icon.left-arrow {
    mask-image: url("../icons/left-arrow.svg");
    -webkit-mask-image: url("../icons/left-arrow.svg");
}

.icon.turn-off {
    mask-image: url("../icons/turn-off.svg");
    -webkit-mask-image: url("../icons/turn-off.svg");
}

.icon.h-menu {
    mask-image: url("../icons/h-menu.svg");
    -webkit-mask-image: url("../icons/h-menu.svg");
}