.icon {
    width: 1.5em;
    height: 1.5em;
    display: block;
    background-color: black;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
}

.icon.info {
    mask-image: url("../icons/info.svg");
    -webkit-mask-image: url("../icons/info.svg");
}

.icon.ver {
    mask-image: url("../icons/ver.svg");
    -webkit-mask-image: url("../icons/ver.svg");
}

.icon.editar {
    mask-image: url("../icons/editar.svg");
    -webkit-mask-image: url("../icons/editar.svg");
}

.icon.borrar {
    mask-image: url("../icons/borrar.svg");
    -webkit-mask-image: url("../icons/borrar.svg");
}