#main {
    flex-direction: column;
}
.menu {
    height: max-content;
    width: 100%;
    position: absolute;
}
#container {
    width: 100%;
    min-height: 100vh;
}
#container .wrapper {
    margin-top: 4em;
}
#container .wrapper > div > header > p {
    font-size: .9em;
}

