/* GENERAL -------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    overflow-wrap: anywhere;
}

input[type="radio"] {
    display: none;
}

img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

::-webkit-scrollbar-track{
	background-color: #313131;
}

::-webkit-scrollbar{
	width: 0.25em;
	background-color: #313131;
}

::-webkit-scrollbar-thumb{
	border-radius: 0.5em;
	background-color: #079992;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: end;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.text-white {
    color: #fff;
}

.btn {
    width: max-content;
    padding: 0.5em 1em;
    background-color: #000000;
    color: white;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
}

.btn-success {
    background-color: #00e08a;
    opacity: .8;
}

.btn-error {
    background-color: #ff3700;
    opacity: .8;
}

.btn-primary {
    background-color: #00938f;
    opacity: .8;
}

.btn-success:hover,
.btn-error:hover,
.btn-primary:hover {
    opacity: 1;
}

/* MENU - INICIO -------------------------------------------------------------------- */

#container {
    flex: 1;
    background-image: url('../../images/resolvedevverde.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25em;
}

.menu {
    height: 100vh;
    overflow-y: auto;
    border-right: 1px solid #00000040;
    width: 25%;
    background-color: white;
    z-index: 2;
}
.menu > header {
    background-color: #079992;
}
.menu > header > div {
    display: flex;
    align-items: center;
}
.menu > header > div .user {
    width: 100%;
}
.menu > header .user .user-img {
    background-image: url('../../images/user.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 3em;
    min-width: 3em;
    height: 3em;
    min-height: 3em;
    border: 2px solid black;
    border-radius: 50%; 
}
.menu > header > div > a {
    display: flex;
    align-items: center;
    color: black;
    padding: .75em;
}
.menu > header > div > a:hover,
.menu > header > div > button:hover {
    background-color: #0ac7bd;
}
.menu > header > div > a span {
    font-weight: 600;
    margin-left: .125em;
    font-size: 1.125em;
}
.menu > header > div > button svg {
    width: 1.5em;
    min-width: 1.5em;
    height: 1.5em;
    min-height: 1.5em;
    fill: black!important; 
}
.menu .display-menu {
    background-color: #079992;
    padding: .5em;
    display: block!important;
}
.menu > div > label {
    display: flex;
}
.menu > div > label > svg  {
    fill: white;
    width: 2.5em;
    min-width: 2.5em;
    height: 2.5em;
    min-height: 2.5em;
    cursor: pointer;
    margin-left: auto;
}
#display-menu,
#display-menu:checked ~ .menu > header,
#display-menu:checked ~ .menu > div {
    display: none;
}
.menu > div {
    padding: 1em;
}
.menu > div > ul {
    display: flex;
    flex-direction: column;
}
.menu .categoria {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 1em;
    background-color: #313131;
    color: white;
    border: 1px solid #00000030;
    border-radius: .25em;
    margin-block: .125em;
    font-weight: 600;
}
.menu .categoria + .categoria {
    margin-top: .5em;
}
.menu .categoria:hover {
    background-color: #424242;
}
.menu .categoria a {
    color: white;
}
.menu .categoria a span {
    font-size: 1.125em;
}
.wrapper {
    padding: 1em;
    gap: 0.5em;
}

/* TABLA -------------------------------------------------------------------- */

.table-wrapper {
    position: relative;
}

.table-wrapper .loader-container {
    position: absolute;
    right: 0;
    left: 0;
    top: .5em;
    z-index: 1;
}

.fl-table {
    width: 100%;
    max-width: 100%;
    background-color: #000;
    position: relative;
    z-index: 5;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 0.5em;
}

.fl-table td {
    max-width: 5em;
}

.fl-table th,
.fl-table td span {
    cursor: default;
    font-weight: 600;
}

.fl-table thead th {
    color: #ffffff;
    background-color: #000000;
}

.fl-table tr {
    background-color: #a5a5a5;
}

.fl-table tr:nth-child(even) {
    background: gray;
}

.fl-table td ul {
    gap: 1em;
    justify-content: space-around;
}

/* FORMULARIO -----------------------------------------------------------------*/

.form-container {
    background-color: #313131;
    color: white;
    border: 1px solid #000;
    border-radius: 0.5em;
    padding: 1em;
    gap: 1em;
}

.form-container > a {
    color: #fff;
    display: flex;
    align-items: center;
}

.form-container > a svg {
    fill: #fff;
}

.form {
    width: 100%;
    gap: 1em;
}

.form .input > input {
    background-color: #fff;
}

.input {
    display: flex;
    flex-direction: column;
}
.input > label {
    font-weight: 500;
}
.input > input,
.input > textarea {
    margin-top: 1.25em;
    color: #000;
    border: 1px solid #9F9F9F;
    border-radius: .5em;
    padding: 1.5em 1.75em;
    outline: none;
}
.input > input::placeholder,
.input > textarea::placeholder {
    color: #000;
}

.form > footer {
    gap: 1em;
}

.form > footer input[type="submit"] {
    outline: none;
}

.imagenes ul {
    gap: 1em;
    margin-top: 1em;
}

.imagenes ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.imagenes figure{
    width: 150px;
    height: 150px;
}

.imagenes figure img {
    border-radius: 0.5em;
}

/* POPOVER -------------------------------------------------------------------- */

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 40;
    background-color: #00000052;
}

.popover-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 41;
}

.popover {
    gap: 1em;
    background-color: #fff;
    border-radius: 0.5em;
    padding: 1em;
}

/* ---------------------------------------- */

.loader-container {
    width: 100%;
}

.loader {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
}
  
@keyframes l5 {
    0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
    33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
    66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
    100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
}

/* ---------------------------------------- */


@media screen and (min-width: 960px) {
    #display-menu:checked ~ .menu {
        width: max-content!important;
    }
}

@media screen and (max-width: 959px) {
    #main {
        flex-direction: column;
    }
    .menu {
        height: max-content;
        width: 100%;
        position: absolute;
    }
    #container {
        width: 100%;
        flex: auto;
    }
    #container {
        margin-top: 6em;
    }
}