.pass-form {
    background-color: #fff;
    padding: 2em;
    border-radius: 1em;
    margin: 2em;
}

.pass-form > a {
    color: #000;
    display: flex;
    align-items: center;
}

.pass-form header strong {
    text-transform: uppercase;
}

.pass-form form {
    margin-top: 2em;
}

.pass-form > form > div,
.pass-form > span {
    margin-top: 1em;
}

.pass-form form > ul {
    gap: 1em;
}